.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home-container .app-name-segment {
    background-color: rgba(0,0,0,.87);
    color: white;
}
.home-container .app-name {
    text-transform: uppercase;
    font-size: 26px;
}
.home-container .nav-button {
    width: 150px;
}