.ui.header.header-component {
    background-color: rgba(0,0,0,.87);
    padding: 25px 0;
}
.header-component .header-content {
    color: white;
    display: flex;
    align-items: center;
}
.header-component .header-content .role-name {
    margin-right: 25px;
}