.registry-sequence .table-describe-block {
    display: flex;
    align-items: center;
}
.registry-sequence .refresh-contracts-button {
    margin-left: 10px;
}
.registry-sequence .message-block {
    margin: 0 0 0 auto;
}
.registry-sequence .message-block span {
    font-size: 12px;
}